*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(2, 2, 2);
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
    height: 450px;
    width: 300px;
    background-color: #525359 ;
    border: 5px solid #232323;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 90px 280px ;
    gap: 25px;
    padding: 25px;
}

.screen{
    background-color: #868A6A;
    border-radius: 10px;
    border: 2px solid black;
    display: grid;
    grid-template-rows: 60% 30%;
    gap: 8%;
}

#result{
   font-size: 3rem;
   overflow: hidden;
}
#operation{
    text-align: end;
    font-size: 1.5rem;
}

.buttons{
    
    border-radius: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 45px 45px 45px 45px;
    grid-template-rows: repeat(5, 45px);
    justify-content: center;
    align-content: center;
}

.btn{
    background-color:#292929 ;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 12px;
    border-radius: 10px;
    box-shadow: 0 0 0 3px rgb(47, 45, 45), 5px 5px 5px rgb(119, 116, 116), inset 2px 2px 2px gray;
}

.btn:hover{
    cursor: pointer;
}

.btn:active{
    background-color: orange;
}

.btn-0{
    grid-column:1/3 ;
}

.btn-result{
    grid-area:  4/4/6/5;
    padding-top: 40px;
}

.btn-ac{
    background-color: red;
}





